* {
    margin: 0;
    padding: 0;
}

h1 {
    padding-bottom: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    text-align: center;
}

.importante {
    background-color: rgb(83, 83, 83);
    color: #FFF;
}

.dado {
    border: 1px solid #000;
    height: 4vh;
}

.num {
    text-align: right;
}

.small {
    width: 15vw;
}
