* {
    margin: 0%;
    padding: 0%;
}

body {
    background: black url("../img/wallpaper002.jpg") center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
}
main {
    margin: auto;
    padding: 2vh;
    max-width: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px 0px;
    text-align: justify;
}
main > h1 {
    padding: 10px 0px;
}