body {
    background-image: url("../../assets/img/g128.png");
    background-position: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 96vh;
}

table {
    width: 80%;
    height: 40vh;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px rgba(124, 124, 124, 0.822);
    border-radius: 10px;
}

th {
    font-weight: bold;
    border: 2px solid #000;
}
.importante ~ th, td {
    border: 1px solid #000;
    background-color: #FFF;
}
button {
    margin-top: 50px;
    width: 30vh;
    height: 3vh;
    background-color: rgb(40, 119, 24);
    box-shadow: 5px 5px 5px rgba(124, 124, 124, 0.822);
    border-radius: 10px 0px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(32, 82, 22);
}

.importante {
    background-color: grey;
    color: #FFF;
    border: 2px solid #000;
}
.media {
    font-weight: bold;
}